@charset "utf-8";
body {
    background-color: rgb(255, 222, 244);
}
h1{
    color: rgb(255, 109, 153);
    text-align: center;
    
}
h3{
    color:rgb(255, 95, 180);
    text-align: center;
}
img{
    border: 13px double #ffa7d3;
    width: 600px;
}